<div class="first-screen__container">
	<h1>
		<span>Lorem ipsum</span> dolor sit amet consectetur <span>adipiscing</span>
	</h1>
	<div class="first-screen__text">
		<p class="first-screen__text-heading">
			At vero eos et accusamus et iusto odio dignissimos ducimus!
		</p>
		<ul class="first-screen__text-list">
			<li class="first-screen__text-list_item">Totam rem aperiam eaque ipsa</li>
			<li class="first-screen__text-list_item">
				Sit voluptatem accusantium doloremque laudantium
			</li>
			<li class="first-screen__text-list_item">
				Sed ut perspiciatis, unde omnis iste natus error
			</li>
		</ul>
	</div>
	<div class="first-screen__buttons">
		<button
			class="first-screen__buttons-button first-screen__buttons-button--solid"
		>
			<span>Заказать</span>
		</button>
		<button
			class="first-screen__buttons-button first-screen__buttons-button--outline"
		>
			<span>Подробнее</span>
		</button>
	</div>
</div>
