<div class="footer__container">
	<div>© 2018 «LoremIpsum.net» Все права защищены.</div>
	<div class="footer__divider"></div>
	<div class="footer__payment">
		<div class="footer__payment-item">
			<img src="assets/icons/qiwi.svg" alt="Qiwi" />
			<div class="footer__payment-item_text">Qiwi wallet</div>
		</div>
		<div class="footer__payment-item">
			<img src="assets/icons/yandex-money.svg" alt="Yandex Money" />
			<div class="footer__payment-item_text">Yandex Money</div>
		</div>
		<div class="footer__payment-item">
			<img src="assets/icons/webmoney.svg" alt="Web Money" />
			<div class="footer__payment-item_text">Web Money</div>
		</div>
	</div>
	<div class="footer__divider"></div>
	<div class="footer__contacts">
		<a href="mailto:info@ipsum228.com" class="footer__contacts-item">
			<img src="assets/icons/mail-small.svg" alt="Email" />
			<div class="footer__contacts-item_text">info@ipsum228.com</div>
		</a>
		<a href="https://vk.com/" target="_blank" class="footer__contacts-item">
			<img src="assets/icons/vk.svg" alt="VK" />
			<div class="footer__contacts-item_text">Мы вконтакте</div>
		</a>
	</div>
</div>
